.header {
    background-color: #e30059;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  
  
  .nav {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 20px; 
    
  }
  
  .navLink {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
    font-size: 18px; 
    text-transform: uppercase; 
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px; 
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; 
  }
  
  .navLink:hover {
    background-color: #e30059; 
    color: #fff; 
    transform: scale(1.1); 
  }
  
  .navLink:active {
    transform: scale(1.05); 
  }
  .logo{
    height: 60px;
    width: auto;
  align-items: center;
  margin-top: 0px;
  }
  