.container {
  padding: 20px;
  max-width: 1000px; /* Suurempi leveys antaa enemmän tilaa */
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.input {
  padding: 10px; /* Lisää tilaa syötteelle */
  border-radius: 8px; /* Pyöristetyt kulmat */
  border: 1px solid #ddd; /* Hieman vaaleampi reunus */
  width: 250px;
  font-size: 16px; /* Mukautettu fonttikoko */
  transition: border-color 0.3s ease; /* Reunan väri muuttuu hoverissa */
}

.input:focus {
  border-color: #e30059; /* Reunan väri muuttuu, kun kenttä on fokusoitu */
  outline: none; /* Poistaa oletuskehykset */
}
.consultant-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px; /* Pehmeämmät kulmat */
  padding: 20px;
  margin-bottom: 20px;
  background-color: white; /* Kirkas taustaväri */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
  transform: translateY(-5px); /* Kortti nousee hieman hoverissa */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Varjo kirkastuu hover-tilassa */
}

.consultantName {
  color: #e30059; /* Pinja väri */
  font-size: 20px; 
  font-weight: 700; 
  margin-bottom: 10px; /* Lisää tilaa nimen ja muun sisällön väliin */
}

h4 {
  font-size: 16px; 
  color: #333; /* Tumma väri, jotta ne erottuvat */
  margin-top: 15px; /* Väli alaotsikon ja sisällön välillä */
}

ul.noBullets {
  list-style-type: none; /* Poistaa luettelomerkit */
  padding-left: 0;
}

ul.noBullets li {
  margin-bottom: 8px; 
}

button.edit-button {
  background-color: #e30059; 
  color: white; 
  border: none;
  border-radius: 8px; 
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

button.edit-button:hover {
  background-color: #ff66b2; /* Taustaväri hover-tilassa */
  transform: scale(1.05); 
}

button.edit-button:active {
  transform: scale(1); 
}

  
  .noResults {
    text-align: center;
    color: #666;
  }
.noBullets {
  list-style-type: none;
  padding: 0;
}
.heading {
  color: #e30059; 
  font-style: italic; 
  font-weight: 900; 
  font-size: 36px; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  line-height: 1.2; 
  transition: all 0.3s ease; 
  margin-bottom: 3%;
}

.heading:hover {
  color: black; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}

.heading:focus {
  outline: none; 
  border-bottom: 3px solid #e30059; 
}